.App {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
  /* background-color: #011742; */
  border-radius: 4px;
}

.Header {
  display: flex;
  /* flex: 1; */
  flex-direction: column;
  align-items: center;
  width: 85%;
  z-index: 2;
}

.Header>img {
  width: 240px;
  margin-bottom: 20px;
}

.Header>form {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.Header>h1:last-child {
  margin-top: 0;
}

input {
  flex: 1;
  width: 100%;
  border-radius: 3px;
  padding: 8px;
  border: none;
}

input:focus {
  outline: none;
}

input[type='submit'] {
  margin-top: 10px;
  background-color: #5AC9FF;
  color: white;
  /* background-image: linear-gradient(to bottom, #3D94F6, #5AC9FF); */
  /* box-shadow: 2px 2px 5px 0px #909090; */
  background-image: linear-gradient(76.8deg, rgba(49, 217, 255, 1) 0.4%, rgba(0, 180, 253, 1) 87.2%);
  font-size: 1.4rem;
  padding: 10px 0;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.2);
  transition: box-shadow 1s ease-in-out, background-image 1s ease-in-out;
}

input[type='submit']:hover {
  filter: brightness(98%);
  box-shadow: 1px 1px 6px rgba(0, 0, 0, 0.4);
  transition: box-shadow 0.3s ease-in-out, filter 0.3s ease-in-out;
}

@media screen and (max-height: 670px) {
  .Header>img {
    width: 200px;
    margin-bottom: 20px;
  }
}

@media screen and (min-width: 900px) {
  .Header>h3 {
    margin-top: 30px;
  }

  .Header>h1:last-child {
    font-size: 3rem;
  }
}

@media screen and (min-width: 400px) and (max-height: 500px) {
  .Header {
    width: 95%;
  }

  .Header>img {
    width: 200px;
    margin-bottom: 20px;
  }

  .Header>form {
    width: 95%;
    flex-direction: row;
  }

  input[type='submit'] {
    margin-left: 20px;
    margin-top: 0;
    max-width: 140px;
    font-size: 1.2rem;
    padding: 8px 0;
    height: 40px;
  }

}